@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* Webfont: Gamora-Regular */
@font-face {
  font-family: 'Gamora';
  src: url('./assets/fonts/Gamora.otf') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./assets/fonts/Gamora.woff') format('woff'),
    /* Modern Browsers */
    url('./assets/fonts/Gamora.woff2') format('woff2'),
    /* Modern Browsers */
    url('./assets/fonts/Gamora.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-primary: #9C7339;
  --background-primary: #181818;
  --background-secondary: #333333;
  --text-primary: #FFFFFF;
  --text-secondary: #AAAAAA;
  --sub-text-primary: #888888;
}

body {
  margin: 0;
  font-family: 'Plus Jajarta Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}